services:
  postgres:
    image: postgres:17
    container_name: estilo26_db_container
    environment:
      POSTGRES_DB: estilo26_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: